# Intro to Data Science - Homework 4 - Spring 2025 - Wilmington College
## Due Date: April 07, 2025

### 1. **Customer Order Summary**
You are given two tables: `Customers` and `Orders`. The `Customers` table contains information about customers, including their ID and name, while the `Orders` table contains the details of their purchases. Your task is to generate a summary of orders for each customer.

#### Requirements:
1. Return each customer's name along with their total number of orders and total purchase amount.
2. If a customer has not placed any orders, return 0 for both `total_orders` and `total_amount`.

#### Input:
**Customers table:**
| customer_id | name    |
|------------|--------|
| 1          | Alice  |
| 2          | Bob    |
| 3          | Charlie |

**Orders table:**
| order_id | customer_id | amount |
|---------|-------------|--------|
| 101     | 1           | 200    |
| 102     | 1           | 150    |
| 103     | 2           | 300    |

#### Expected Output:
| name   | total_orders | total_amount |
|--------|-------------|--------------|
| Alice  | 2           | 350          |
| Bob    | 1           | 300          |
| Charlie | 0           | 0            |

**Hint:**
- You can count the number of orders for each customer and sum the purchase amount for each customer by using the groupby function.

- To do this, group the Orders table by customer_id. After grouping, count the order_id to get the total number of orders and sum the amount to get the total amount.

In [ ]:
import pandas as pd

#  Customers and Orders 
customers_data = {
    "customer_id": [1, 2, 3],
    "name": ["Alice", "Bob", "Charlie"]
}
orders_data = {
    "order_id": [101, 102, 103],
    "customer_id": [1, 1, 2],
    "amount": [200, 150, 300]
}

# DataFrames
customers_df = pd.DataFrame(customers_data)
orders_df = pd.DataFrame(orders_data)

# Group orders by customer_id to get total orders and total amount
order_summary = orders_df.groupby("customer_id").agg(
    total_orders=pd.NamedAgg(column="order_id", aggfunc="count"),
    total_amount=pd.NamedAgg(column="amount", aggfunc="sum")
).reset_index()

# Merging
result_q1 = pd.merge(customers_df, order_summary, on="customer_id", how="left").fillna(0)
result_q1["total_orders"] = result_q1["total_orders"].astype(int)
result_q1["total_amount"] = result_q1["total_amount"].astype(int)

final_result_q1 = result_q1[["name", "total_orders", "total_amount"]]

print(final_result_q1)

      name  total_orders  total_amount
0    Alice             2           350
1      Bob             1           300
2  Charlie             0             0

### 2. **High-Performing Employees**
Given an `Employees` table that contains employee performance scores and departments, identify employees who have a performance score greater than the department average.

#### Requirements:
1. Calculate the average performance score for each department.
2. Identify employees whose score is greater than their department’s average.
3. Return their name, department, and performance score.

#### Input:
**Employees table:**
| emp_id | name    | department | performance_score |
|--------|---------|------------|-------------------|
| 1      | Alice   | Sales      | 80                |
| 2      | Bob     | Sales      | 75                |
| 3      | Charlie | HR         | 90                |
| 4      | David   | HR         | 85                |
| 5      | Eve     | Sales      | 95                |

#### Expected Output:
| name   | department | performance_score |
|--------|------------|-------------------|
| Alice  | Sales      | 80                |
| Charlie| HR         | 90                |

In [ ]:
import pandas as pd

#  Employees 
employees_data = {
    "emp_id": [1, 2, 3, 4, 5],
    "name": ["Alice", "Bob", "Charlie", "David", "Eve"],
    "department": ["Sales", "Sales", "HR", "HR", "Sales"],
    "performance_score": [80, 75, 90, 85, 95]
}

employees_df = pd.DataFrame(employees_data)

#  average performance per department
dept_avg = employees_df.groupby("department")["performance_score"].transform("mean")

#  employees performance above their department average
high_performers = employees_df[employees_df["performance_score"] > dept_avg][["name", "department", "performance_score"]]

print(high_performers)

      name department  performance_score
2  Charlie         HR                 90
4      Eve      Sales                 95


### 3. **Product Sales Growth Analysis**
You are given sales data for multiple years. Your task is to identify products whose sales increased from one year to the next.

#### Requirements:
1. Identify products where the sales quantity increased from one year to the next.
2. Return the product name and the year-over-year growth.

#### Input:
**Sales table:**
| sale_id | product_id | year | quantity |
|---------|------------|------|----------|
| 1       | 100        | 2023 | 10       |
| 2       | 100        | 2024 | 15       |
| 3       | 200        | 2023 | 20       |
| 4       | 200        | 2024 | 18       |

**Products table:**
| product_id | product_name |
|------------|--------------|
| 100        | Laptop       |
| 200        | Phone        |

#### Expected Output:
| product_name | growth |
|-------------|--------|
| Laptop      | 5      |

**Hint:**
- To calculate the year-over-year growth, you can use the pivot_table function. This will allow you to reshape the sales data so that each product’s sales quantities for different years are in separate columns.

- After reshaping the data, you can subtract the quantity for the previous year from the quantity for the next year to find the growth for each product.

- The pivot_table function is useful for aggregating data by multiple columns (e.g., product and year) and performing operations like sum. Make sure to use pivot_table to organize the sales quantities by product and year before calculating the growth.

In [19]:

import pandas as pd

#  Sales and Products 
sales_data = {
    "sale_id": [1, 2, 3, 4],
    "product_id": [100, 100, 200, 200],
    "year": [2023, 2024, 2023, 2024],
    "quantity": [10, 15, 20, 18]
}
products_data = {
    "product_id": [100, 200],
    "product_name": ["Laptop", "Phone"]
}

sales_df = pd.DataFrame(sales_data)
products_df = pd.DataFrame(products_data)

# quantity per year
pivot_df = sales_df.pivot_table(index="product_id", columns="year", values="quantity")

# Calculate growth
pivot_df["growth"] = pivot_df[2024] - pivot_df[2023]

# Filter products with positive growth
growth_df = pivot_df[pivot_df["growth"] > 0].reset_index()

# Merge with product names
final_growth_df = pd.merge(growth_df[["product_id", "growth"]], products_df, on="product_id")[["product_name", "growth"]]

print(final_growth_df)

  product_name  growth
0       Laptop     5.0

### 4. **Department Manager Identification**
You are given an `Employees` table that contains details about employees and their managers. Your task is to identify departments where the department head manages at least 3 employees.

#### Requirements:
1. Count the number of employees reporting to each manager.
2. Identify managers who oversee at least 3 employees in the same department.
3. Return the manager’s name, department, and the number of direct reports.

#### Input:
**Employees table:**
| id  | name  | department | manager_id |
|-----|-------|------------|------------|
| 101 | John  | Sales      | NULL       |
| 102 | Dan   | Sales      | 101        |
| 103 | James | Sales      | 101        |
| 104 | Amy   | Sales      | 101        |
| 105 | Anne  | HR         | 106        |
| 106 | Ron   | HR         | NULL       |

#### Expected Output:
| name | department | direct_reports |
|------|------------|----------------|
| John | Sales      | 3              |

In [ ]:
import pandas as pd

#  Employees 
employees_data_q4 = {
    "id": [101, 102, 103, 104, 105, 106],
    "name": ["John", "Dan", "James", "Amy", "Anne", "Ron"],
    "department": ["Sales", "Sales", "Sales", "Sales", "HR", "HR"],
    "manager_id": [None, 101, 101, 101, 106, None]
}

employees_df_q4 = pd.DataFrame(employees_data_q4)

#  number of direct reports per manager per department
direct_reports = (
    employees_df_q4[employees_df_q4["manager_id"].notna()]
    .groupby(["manager_id", "department"])
    .size()
    .reset_index(name="direct_reports")
)

# Filter managers with at least 3 direct reports
managers_with_3plus = direct_reports[direct_reports["direct_reports"] >= 3]

# Manager names
managers_with_3plus = managers_with_3plus.merge(
    employees_df_q4[["id", "name"]],
    left_on="manager_id",
    right_on="id"
)[["name", "department", "direct_reports"]]

print(managers_with_3plus)

   name department  direct_reports
0  John      Sales               3